<div style="height: 2000px">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>Sample Enrollment Database</mat-card-title>
      <mat-card-subtitle>Operations</mat-card-subtitle>
    </mat-card-header>
    <mat-list>
    <mat-list-item>
      <h1 matLine>Add Operations </h1>
      <p matLine>-- Add Student to Student Table </p>
      <p matLine>-- Add Course to Course Table </p>
      <p matLine>-- Add Application to Enrollment Table</p>
    </mat-list-item>
    <mat-list-item>
      <h1 matLine>View Operations </h1>
      <p matLine>-- View list of all students </p>
      <p matLine>-- View courses offered by a certain department </p>
      <p matLine>-- View courses for a specified student </p>
    </mat-list-item>
      <mat-list-item>
        <h1 matLine>Navigation </h1>
        <p matLine>-- Pancakes in top left of UI </p>
        <p matLine>-- NavBar at top of UI </p>
      </mat-list-item>
  </mat-list>
    </mat-card>
</div>
